/************************
Créé par Olivier Warchol
À rendre pour le 27/01/23
************************/

body {
	background-color: #3D3D49;
	color: white;
	padding: 0;
	margin: 0;
	text-shadow: 2px 1.5px black;
}

/*Haut de la page*/
header {
	height: auto;
	margin: 5px;
	border: solid #908500 1px;
	border-radius: 15px;
}

/*Menu et affichage principal*/
nav {
	display: flex;
	flex-direction: row;
}
/*Menu*/
div.menu {
	margin-left: 0.3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: solid #726900 3px;
	border-radius: 10px;
	background-color: #908500;
	color: white;
	position: fixed;
	height: 81%;
	width: 21%;
}

/*Affichage principal*/
article {
	position: fixed;
	margin-left: 23%;
	border: dashed #908500 2px;
	border-radius: 10px;
	height: 75%;
	width: 76.45%;
}

div.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 75%;
	padding: 10px;
	font-size: 20px;
}

iframe {
	position: fixed;
	margin-left: 23%;
	border: dashed #908500 2px;
	border-radius: 10px;
	height: 75%;
	width: 76.45%;
}

/*Bas de la page*/
footer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 2rem;
	right: 0;
	bottom: 0;
	left: 0;
}

footer p {
	border-top: solid #908500 1px;
	border-radius: 5px;
	padding: 5px;
}

/*Autre*/
h1 {
	text-align: center;
	color: #F6E400;
	font-weight: bold;
	font-size: 32px;
}

h2 {
	text-align: center;
	font-size: 23px;
	text-decoration: underline;
	color: #F6E400;
	font-weight: bold;
}

h3 {
	color: black;
	text-align: center;
	text-shadow: 2px 1.5px #675F00;
	font-size: 20px;
}

hr {
	color: #908500;
}

p {
	text-align: justify;
	font-size: 17px;
}

em {
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}

strong {
	text-decoration: underline;
	font-weight: normal;
}

/*Liens*/
a {
	color: #C0B200;
	text-decoration: none;
}

a:hover {
	color: #C0B200;
	font-style: italic;
}

a:visited {
	color: #C0B200;
}

li a {
	color: white;
	text-decoration: none;
}

li a:visited {
	color: white;
}

li a:hover {
	font-style: italic;
	color: white;
}

/*Menu déroulant*/
ul.menu {
	list-style-type: none;
	padding: 0;
	width: 90%;
}

ul.menu li {
	padding: 5px;
	background-color: #929292;
	border-radius: 5px;
	width: 40%;
	height: 15%;
	margin: auto;
	margin-top: 3px;
}

ul.sousmenu {
	display: none;
	list-style-type: none;
	padding: 0;
	width: 85%;
}

ul.sousmenu li {
	background-color: #484848;
}

li:hover ul.sousmenu {
	display: inline-block;
	position: absolute;
	left: 39%;
	padding: 0px;
	z-index: 100000;
}

input[type=checkbox]{
	display: none;
}