/**************************************
  style.css écrit par Olivier Warchol
dernière modification: 14/02/23 à 17h00
**************************************/

body {
	background-color: lightskyblue;
}

header {
	background-color: teal;
	margin: 0;
	padding-left: 5%;
	padding-top: 3px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

nav.secondary {
	justify-content: space-between;
}

footer {
	position: fixed;
	display: flex;
	flex-direction: row;
	bottom: 2px;
}

div {
	display: flex;
}

input[type=button] {
	margin-left: 5px;
}

h1 {
	text-align: right;
	color: darkgray;
	font-size: 27px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	font-weight: bold;
}

h3 {
	border-bottom: solid black 1px;
}

table {
	margin-right: 2%;
	border: solid black 1px;
	border-collapse: collapse;
}

table.main {
	width: 96%;
	margin-left: 2%;
	text-align: left;
}

table.main td {
	border-left: solid black 1px;
}

div.dest {
	display: flex;
	flex-direction: column;
	width: 47%;
}

td.lastline {
	border-bottom: solid black 1px;
}

td.soldetotal {
	border-bottom: solid black 1px;
}

table.solde {
	text-align: right;
	border: none;
}

table.solde td {
	padding-right: 5px;
}

input {
	background-color: white;
	width: 98.5%;
	outline: none;
	border: none;
	background-color: none;
}

table.solde input {
	background-color: lightskyblue;
	text-align: right;
}

table.main tr {
	background-color: white;
}

table.main tr:nth-child(even), table.main tr:nth-child(even) input {
	background-color: lightgray;
}

em {
	border-bottom: solid black 1px;
}

header div p {
	text-align: center;
	margin-left: 82.5%;
	font-style: normal;
}

table.main tr.title {
	background-color: teal;
	text-align: center;
	color: white;
	border-bottom: solid black 1px;
}