@font-face{
	font-family: "MaPolice";

	src: url('AlexBrush-Regular.ttf');
}

*{
	font-family: "comic sans ms", impact, arial, sans-serif;
	text-align: justify;
}

h1, em{
	color: #FF2323;
	font-style: oblique;
	text-decoration: underline;
}

p{
	font-size: 1.3em;
	text-align: center;
}

.textecote{
	float: right;
}

body{
	background-color: #505559;
	color: white;
	text-shadow: 2px 2px 2px black;
}

h1{
	color: #FF2323;
	background-color: #474c50;
	font-size: 3.5em;
	font-family: "MaPolice";
	font-weight: normal;
	text-align: center;
	border: 2px white dashed;
	border-radius: 20px;
	text-shadow: 2px 2px 2px white;
}

h2{
	font-weight: normal;
	text-align: center;
	color: #FF2323;
	text-decoration: underline;
	font-family: arial, sans-serif;
	text-shadow: 1px 1px 1px white;
}

a{
	color: #006DC0;
	text-decoration: none;
}

a:hover{
	color: #00ced1;
	background-color: #484848;
	border-radius: 5px;
	font-style: italic;
	text-decoration: none;
}

a:active{
	color: #00CED1;
	text-decoration: underline;
	font-style: italic;
	background-color: #484848;
	border-radius: 5px;
}

a:visited{
	color: #006DC0;
}

a.liencv{
	color: #C0B200;
	text-decoration: none;
	font-family: 'arial';
	text-shadow: none;
}

a.liencv:hover{
	background: none;
}